@model BecketLee.ViewModels.PartnersViewModel

<div>
    @{ await Html.RenderPartialAsync("_DeleteConfirmation", @Model.DeletionModel);}
</div>

<div class="col-10 offset-1">


    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Manage Partner Biographies</h3>
        </div>
        <td class="card-body">
            <br />
            <div class="container ">
                <div class="float-right">
                    <a id="createEditUserModal" asp-action="EditPartnerBio" asp-controller="Partners" class="btn btn-sm btn-info">
                        <i class="fa fa-plus"></i>  Add New Partner
                    </a>
                    <a asp-action="Index" asp-controller="Auth" class="btn btn-sm btn-info">
                        <i class="fa fa-gavel"></i>  Management
                    </a>
                </div>

            </div>
            <br />
            <table class="table table-info table-striped">
                <tbody>
                    @foreach (var item in Model.Partners)
                    {
                        <tr>

                            <td>
                                @{
                                    string itemUrl = @Url.Content( "~" + @item.FileUrl );
                                }
                                <img src="@itemUrl" alt="@item.PartnerName" class="partnerEditAvatar" asp-append-version="true"/>
                            </td>
                            <td><h4>@item.PartnerName</h4></td>
                            <td>
                                <a asp-action="EditPartnerBio" asp-route-id="@item.PartnerName" class="btn btn-sm btn-info">
                                    <i class="fa fa-pen"></i> Edit
                                </a>
                            </td>
                            <td>
                                <a asp-action="ConfirmPartnerDeletion" asp-route-id="@item.PartnerId" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                                @*<a href="@Url.Action( "ConfirmPartnerDeletion", "Partners", new {@deleteId = @item.PartnerId} )" class="btn btn-sm btn-danger" />*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
</div>



@section Scripts{

    @if (@Model.DeletionModel.DeleteId > 0)
    {
        <script>
            $(window).on('load', function () {
                var delayMs = 0; // delay in milliseconds
                setTimeout(function () {
                    $('#confirmDeletion').modal('show');
                }, delayMs);
            });
        </script>
    }
}