@model BecketLee.ViewModels.PartnerViewModel
@{
    ViewBag.Title = @Model.PartnerName;
}


<div class="row">

    <div class="col-md-7 col-md-offset-1">

        <div class="panel panel-default">
            <div class="panel panel-heading"><h3>Biography</h3></div>
            <div class="panel panel-body ">

                <div id="BiographyHtml">@Html.Raw( Model.BiographyHtml )</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel panel-heading"><h3 class="text-center">@Model.PartnerName</h3></div>
            <div class="panel panel-body">

                <div class="text-center">
                    <img src="@Model.FileUrl" alt="@Model.PartnerName" class="partnerImage" />
                </div>
            </div>
        </div>
    </div>
</div>
