@model BecketLee.ViewModels.PartnerViewModel
@{
    ViewBag.Title = @Model.PartnerName;
}

<div class="container">
    <div class="col-md-8">
        <div>
            <label class="panel-group">Name</label>
            <label class="panel-group">@Model.PartnerName</label>            
        </div>
        <div>
            <label class="panel-group">Biography</label>
            <label class="panel-group">@Model.BiographyHtml</label>            
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-group">
            <img src="@Model.FileUrl" alt="@Model.PartnerName" class="partnerImage" />
        </div>

@*        <div class="form-group">*@
@*            <input type="submit" value="Save All" />*@
@*        </div>*@
    </div>          
</div>
