@using BecketLee.Code
@using BecketLee.Models
@model IEnumerable<BecketLee.ViewModels.RolesViewModel>
@{
    ViewBag.Title = "Roles";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>    
    <script src="~/js/applicationRole.js" asp-append-version="true"></script>
}
    

<div class="top-buffer"></div>

    <div class="panel panel-default">
        <div class="panel-heading panel-head text-center"><h3>Becket & Lee Roles</h3></div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createRoleModal" data-toggle="modal" asp-action="AddEditRole" asp-controller="Roles" data-target="#modal-action-application-role" class="btn btn-sm btn-info">
                <i class="fa fa-plus"></i>  Add Role
            </a>
        </div>
        <div class="btn-group">
            <a asp-action="Index" asp-controller="Auth" class="btn btn-sm btn-info">
                <i class="fa fa-gavel"></i>  Management
            </a>

        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Description</th>
                    <th>Users</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>@item.NumberOfUsers</td>
                        <td>@item.CreatedDate.ToString( "d" )</td>
                        <td>
                            <a id="editRoleModal" asp-action="AddEditRole" asp-controller="Roles" asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-application-role" class="btn btn-sm btn-info">
                                <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit
                            </a>
                            @if (item.NumberOfUsers == 0)
                            {
                                <a id="deleteRoleModal" asp-action="DeleteRole" asp-controller="Roles" asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-application-role" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                                </a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@Html.Partial( "_Modal", new BootstrapModel { ID = "modal-action-application-role", AreaLabeledId = "modal-action-application-role-label", Size = ModalSize.Medium } )
