@using BecketLee.Code
@using BecketLee.Models
@using BecketLee.ViewModels
@model RolesViewModel
@{
    ViewBag.Title = "Roles";
}


<div>
    @{ await Html.RenderPartialAsync("_AddEditRole", @Model.RoleViewModel);}
    @{ await Html.RenderPartialAsync( "_DeleteConfirmation", @Model.RoleDeletionModel );}
</div>
<br />
<div class="card">
    <div class="card-header">
        <h3 class="mx-auto">Becket & Lee Roles</h3>
    </div>
    <div class="card-body">
        <div>&nbsp;</div>
        <div class="btn-group">
            <a href="@Url.Action( "AddEditRole", "Roles", new{@id = ""}  )" class="btn btn-danger">
                <i class="fa fa-plus"></i> Add Role
            </a>
        </div>
        <div class="btn-group">
            <a asp-action="Index" asp-controller="Auth" class="btn btn-info">
                <i class="fa fa-gavel"></i> Management
            </a>
        </div>
        <div>&nbsp;</div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RoleViewModels)
                {
                    <tr>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>@item.CreatedDate.ToString("d")</td>
                        <td>
                            
                            <a href="@Url.Action( "AddEditRole", "Roles", new{@id = @item.Id} )" class="btn btn-info">
                                <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit
                            </a>
                            @if( item.NumberOfUsers == 0 )
                            {
                                <a href="@Url.Action( "ConfirmDeleteRole", "Roles", new {@id = @item.Id} )" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @if (@Model.OpenAddEditRoleDialog)
    {
        <script>
            $(window).on('load', function () {
                var delayMs = 0; // delay in milliseconds
                setTimeout(function () {
                    $('#addEditRole').modal('show');
                }, delayMs);
            });
        </script>
    }


    @if (!string.IsNullOrEmpty(@Model.RoleDeletionModel.RoleDeleteId))
    {
        <script>
            $(window).on('load', function () {
                var delayMs = 0; // delay in milliseconds
                setTimeout(function () {
                    $('#confirmDeletion').modal('show');
                }, delayMs);
            });
        </script>
    }

}