@model BecketLee.ViewModels.EventsViewModel
<div>
    @{ await Html.RenderPartialAsync("_DeleteConfirmation", Model.DeletionModel);}
</div>
<div class="card">
    <div class="card-header card-head text-center"><h3>Manage Events</h3></div>
    <div class="card-body">
        <div class="top-buffer"></div>
        <div class="pull-right ">
            <form method="get" class="form-horizontal form-inline">
                <input class="form-control" type="text" name="searchTerm" />
                <select class="form-control" name="eventTypeId" id="eventTypeId">
                    <option>&nbsp;</option>
                    <option value="1">News</option>
                    <option value="2">Events</option>
                    <option value="3">Pubs</option>
                    <option value="4">Cases</option>
                </select>
                <input class="btn btn-default" type="submit" value="Search" />
            </form>
        </div>


        <div class="btn-group">
            <a id="createEditUserModal" asp-action="EditEvent" asp-controller="Events" class="btn btn-info">
                <i class="fa fa-plus"></i>  Add New Event
            </a>
        </div>
        <div class="btn-group ">
            <a asp-action="Index" asp-controller="Auth" class="btn btn-info">
                <i class="fa fa-gavel"></i>  Management
            </a>
        </div>
        <div>&nbsp;</div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center">Event</th>
                    <th class="text-center">Event Type</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    <th class="text-center" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td class="text-justify">
                            @item.Title
                        </td>
                        <td>
                            @item.EventTypeDescription
                        </td>
                        <td>
                            @string.Format("{0:MM/dd/yyyy}", item.StartDate)
                        </td>
                        <td>
                            @string.Format("{0:MM/dd/yyyy}", item.EndDate)
                        </td>
                        <td>
                            <a asp-action="EditEvent" asp-controller="Events" asp-route-id="@item.EventId" class="btn btn-sm btn-info">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink(" Delete", "ConfirmEventDeletion", "Events", new { @id = @item.EventId }, new { @class = "btn btn-sm btn-danger fa fa - trash" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    @if (@Model.DeletionModel.DeleteId > 0)
    {
        <script>
            $(window).on('load', function () {
                var delayMs = 0; // delay in milliseconds
                setTimeout(function () {
                    $('#confirmDeletion').modal('show');
                }, delayMs);
            });
        </script>
    }
}