@model BecketLee.ViewModels.EventsViewModel

    <div class="card">
        <div class="card-header">
            <h5>@Model.ListCaption</h5>
        </div>
        <div class="card-body">
            <div class="scrollable-event">
                <ul>
                    @foreach (var item in Model.Events)
                    {
                        <li class="list-group-item">
                            @if (@item.EventTypeDescription != "Cases")
                            {
                                <div class="label eventDate">@item.StartDate.Value.ToString( "MM-dd-yyyy" )</div>
                            }
                            <div class="eventText">
                                <a active="true" asp-action="@item.Action" asp-controller="Events" asp-route-id="@item.EventId">
                                    <div>@item.Title</div>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

