@model BecketLee.ViewModels.UserRolesViewModel

<div>
    @{ await Html.RenderPartialAsync("_DeleteConfirmation", Model.UserRoleDeletionModel);}
</div>

<div class="card col-8 offset-2">
    <div class="card-header">
        @using (Html.BeginForm("UserRole", "Users", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <h3>
                Add roles for user: <span class="text-success">@Model.UserRoleViewModel.UserName</span>
                <span class="pull-right">
                    <button asp-action="Index" asp-controller="Users" class="btn btn-default"><i class="fa fa-backward"> </i> Back</button>
                </span>

            </h3>

        }
    </div>
    <div class="card-body">
        @using (Html.BeginForm("UserRole", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(e => e.UserRoleViewModel.UserId)
            @Html.HiddenFor(e => e.UserRoleViewModel.UserName)

            <div class="card-body">
                <div class="form-group">
                    <table class="table table-responsive">
                        <thead>
                        <th>Role</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.UserRoleViewModel.UserRoles)
                            {
                                <tr>
                                    <td><i class="fa fa-check text-success"> </i>@item.RoleName</td>
                                    <td>
                                        <a href="@Url.Action( "ConfirmUserRoleDeletion", "Users", new { @userId = @Model.UserRoleViewModel.UserId, @roleId = @item.Id} )" class="btn btn-danger"> 
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <select asp-for="@Model.UserRoleViewModel.ApplicationRoleId" 
                                asp-items="@Model.UserRoleViewModel.ApplicationRoles" class="input-group form-control">
                            <option>Please select</option>
                        </select>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success"><i class="fa fa-user"> </i> Add Selected Role </button>
                        </span>
                        <span asp-validation-for="@Model.UserRoleViewModel.ApplicationRoleId"></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    @if (!string.IsNullOrEmpty(@Model.UserRoleDeletionModel.UserDeleteId ))
    {
        <script>
            $(window).on('load', function () {
                var delayMs = 0; // delay in milliseconds
                setTimeout(function () {
                    $('#confirmDeletion').modal('show');
                }, delayMs);
            });
        </script>
    }
}